body {
    margin: 0;
    /* font-family: "Source Sans Pro", sans-serif; */
    font-family: 'Roboto', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }

  .button {
    background-color: green;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
  }
  
  .button:hover {
    background: #37B686;
    opacity: 0.7;
  }

#gameContainer {
    text-align: center;
    margin-top: 50px;
}


#gameCanvas {
    background-color: white;
    border: 10px solid orange;
    border-radius: 20px;
  }
  

#gameStatus {
    margin-top: 10px;
    font-weight: bold;
}

#restartButton {
    margin-top: 20px;
}



 